.boax {
  background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
  width: 110px;
  height: 100px;
  position: fixed;
  left: -40px;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.boax img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -10%;
}

.boax img.replace {
  content: url(../img/2.png);
}

.boax:hover img.replace {
  content: url(../img/2.png);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.but {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%);
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.but:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}
