body{
    background: linear-gradient( -45deg, #ffffff, #e73c7e, #23a6d5, #23d5ab);
    
    background-size: cover;
    background-size: 500%;
    background-attachment: fixed;
    animation: text-bgmove 10s infinite;
}
@keyframes text-bgmove{
0%{
background-position: 0% 50%;
}
50%{
background-position: 100% 50%;
}
100%{
background-position: 0% 50%;
}
}