
body{
    height: 100%;
    
    width: 99%;
    min-width: 768px;
    background-image: url(https://picsum.photos/1920/1080);
    background-size: cover;
    background-attachment: fixed;
    
}
.dv{
    width: 50%;
    
    height: 100%;
    
    border: 1px solid rgb(190, 190, 190);
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(204, 204, 204);
    opacity: 0.5;
}
.dv-1{
    width: 50%;
    height: 100%;
    border: 0;
    position: fixed;
    right: 0;
    top: 0;
    
}
.dv1{
    
    width: 480px;
    height: 535px;
    border: 1px solid rgb(230, 230, 230);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255,1);
    opacity: 1.0;
    background: linear-gradient(rgb(255, 255, 148), pink);
   
    
    
}
.tit{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}
.user-tit{
    font-size: 20px;
    margin-left: 25%;
    float: left;

}
input{
    position: absolute;
    margin-top: 23px;
    left: 40%;

}
.psw-tit{
    
    font-size: 20px;
    margin-left: -9%;
    margin-top: 62px;
    float: left;

}
ins{
    color: rgb(119, 117, 255);
}
.forget-create{
    /* border: 1px solid black; */
    position: relative;
    top: 150px;
    
    font-size: 15px;
}