.progress-bar {
    /* background-color: #ccc; */
    /* height: 10px; */
    animation: progress 5s ease forwards;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 98%;
    }
}
progress::-webkit-progress-value {
    background-color: #d6272c; /* 前景颜色 */
  }
