
red {
    color: rgb(255, 114, 114);
}

white {
    color: white;
}

blue {
    color: rgb(47, 47, 255);
}

black {
    color: black
}
msblue{
    color: #0077d6;
}
green{
    color: rgb(37, 247, 18);
}